{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'dist/css/app.css' %}">
    {% block styles %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen bg-gray-50 pt-14">
    {% block layout %}{% endblock layout %}
    {% include 'widgets/message.html' %}
</body>

<script src="{% static 'dist/js/app.js' %}"></script>
{% block scripts %}{% endblock %}
</html>